@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.hidden{
    display: none;
}

/*impact fadeIn for animation*/
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.image{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    z-index:-1;

    animation: fadeIn 0.5s linear;
}

#wrap{
    width: 100vw;
    height:100vh;
    position: absolute;
}

.loginBox{
    background-color: #F5F5DCC6;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width:360px;
    height: 80px;
    position: absolute;
    left:50%;
    border: 1px solid gray;
    font-weight: bold;
    font-size:40px;
    margin-left: -195px;
    margin-top: 370px;
}
.loginText{
    background-color: #F5F5DCD3;
    padding: 15px;
    border-radius: 5px;
    border:1px solid gray;
    text-align: center;
    width: 360px;
    height: 50px;
    position:absolute;
    left:50%;
    font-weight: bold;
    font-size: 40px;
    margin-left:-195px;
    margin-top: 275px;
}
#greeting{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-align: center;
    font-size:40px;
    background-color: #F5F5DCC6;
    margin-top:120px;
    height:50px;
    padding:10px;
    width: 360px;
    left: 50%;
    margin-left: -195px;
    position:absolute;
    border-radius: 5px;
    border:5px ridge gray;
    animation: fadeIn 0.5s linear;
}

#clock{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-align: center;
    font-size:35px;
    background-color: #F5F5DCC6;
    margin-top:35px;
    height:40px;
    padding:10px;
    width: 300px;
    left: 50%;
    margin-left: -165px;
    position:absolute;
    border-radius: 5px;
    border:4px ridge gray;
    animation: fadeIn 0.5s linear;
}

#todolist{
    background-color: #F5F5DCF3;
    text-align: center;
    margin-top:275px;
    height: 400px;
    padding:10px;
    width: 300px;
    border-radius:5px;
    border:6px groove gray;
    position:absolute;
    left:10%;
    animation: fadeIn 0.5s linear;
}

#todo-list{
    width:100%;
    height:100%;
    position:relative;
    padding-left: 50px;
}

#todo-form input[type=text]{
    width:240px;
    height: 25px;
    font-size: 15px;
    border: 3px solid gray;
    border-radius: 5px;
    background-color: #F5F5DCF3;
    outline:none;
    padding-left:10px;
}

#button{
    background-color: #F5F5DCF3;
    float:right;
    padding-top:3px;
    margin-right: 60px;
    border: none;
    border-radius: 5px;
    outline:none;
}
.li{
    margin-top:11px;
    font-family: 'Architects Daughter', cursive;
    font-size:15px;
}

#quotes{
    background-color: #F5F5DCD3;
    text-align:center;
    height:110px;
    max-width:400px;
    min-width:370px;
    padding:4px;
    border: 3px dashed gray;
    position: absolute;
    left:65%;
    bottom:6%;
    animation: fadeIn 0.5s linear;
}

#weatherbtn{
    font-family:'Architects Daughter', cursive;
    font-weight: bold;
    top:40%;
    right:16%;
    position:absolute;
    z-index:1;
}
#weather{
    background-color: #F5F5DCD3;
    width:200px;
    height: 140px;
    text-align: center;
    position:absolute;
    left:73%;
    top: 7%;
    border: 4px ridge gray;
    border-radius:5px;
    animation: fadeIn 0.5s linear;
}
#weather p{
    margin:3px;
    font-family:'Architects Daughter', cursive;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: bold;
}
